@{
    ViewData["Title"] = "Student Management";
}

<div class="text-center">
    <h1 class="display-4">Welcome To First Pipeline Demo</h1>
    <p>We will learn how to create a  Jenkins pipeline for Build</p>
</div>
