@{
    ViewData["Title"] = "Student Management";
}

<div class="text-center">
    <h1 class="display-4"> This is My First Pipeline Demo and I thoughts It's work now </h1>
    <p>We will learn how to create a  Jenkins pipeline for Build</p>
</div>
